@mixin box-shadow($x, $y, $blur, $c) {
  -webkit-box-shadow: $x $y $blur $c;
  -moz-box-shadow: $x $y $blur $c;
  -ms-box-shadow: $x $y $blur $c;
  box-shadow: $x $y $blur $c;
}

.cart {
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  z-index: 12;
  flex-direction: column;
  text-align: center;
  width: 95vw;
  min-height: 20rem;
  margin: auto;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  @include box-shadow(0, 0, 0.5rem, $Black);
  background: rgb(255, 255, 255);
  @media screen and (min-width: $large-laptops-desktops) {
    top: 5.5rem;
    width: 30rem;
    right: 0;
    left: 50%;
  }
}

.cart-title {
  padding: 0.5rem;
  text-align: left;
  font-weight: $font-weight-700;
  border-bottom: 0.1rem solid $Grayish-blue;
}

.cart-message {
  margin: auto;
  font-weight: $font-weight-700;
  color: $Dark-grayish-blue;
}
